body {
  font-family: Graphik;
  margin: 0;
  padding: 0;
  height: 100vh;
  line-height: 40px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.hero-section {
  background-image: url("./assets/images/hero-background.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
.hero-paragraph {
  padding: 80px, 0px, 80px, 0px;
}
.title-one {
  font-size: 74px;
  color: #ffffff;
  line-height: 84px;
  justify-content: center;
}

.paragraph-one {
  font-size: 28px;
  align-items: center;
  color: #ffffff;
  width: 50%;
  text-align: center;
}

.button1 {
  background-color: #2091f9;
  color: #ffffff;
  padding: 16px, 0px, 16px, 0px;
  border-radius: 35px;
  justify-content: center;
}
