* {
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Graphik";
  line-height: 40px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

/* navbar */

.hero-outer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-inner-container-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.hero-header {
  height: 60px;
  padding-top: 10px;
  justify-content: space-between;
}

.secondary-menu li a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  list-style: none;
}

.secondary-menu {
  font-size: 15px;
  line-height: 28px;
  color: #ffffff;
  text-align: center;
  display: flex;
  list-style: none;
  gap: 21px;
  font-family: Graphik;
}

.logo-section {
  display: flex;
  font-size: 32px;
  color: #ffffff;
  gap: 24px;
}

.logo-section a:hover {
  transform: scale(1.2);
}

.logo-section a {
  color: #ffffff;
  transition: transform 0.3s ease;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #f1f1f1;
}

ul li .dropdown {
  display: none;
  position: relative;
  list-style: none;
  color: black;
}

ul li:hover ul.dropdown {
  display: block;
}

.dropdown li a {
  color: black;
}

.secondary-menu li {
  position: relative;
}

ul li:hover .dropdown {
  position: absolute;
}

@media only screen and (max-width: 600px) {
  .hero-inner-container-logo {
    margin-left: 16px;
  }

  .hero-inner-container-menu {
    display: none;
  }

  .burger-menu {
    font-size: 26px;
    color: #ffffff;
    display: flex !important;
    margin-right: 16px;
  }
}

@media only screen and (max-width: 2000px) {
  .burger-menu {
    display: none;
  }
}

/* hero-section */
.hero-section {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url("./assets/images/hero-background.png");
  background-repeat: no-repeat;
  background-position: top;
  height: 100vh;
  background-size: cover;
}

.hero-paragraph {
  padding: 80px 0px 80px 0px;
}
.title-one {
  font-size: 74px;
  color: #ffffff;
  line-height: 84px;
  justify-content: center;
  margin-top: 110px;
  margin-bottom: 7px;
}

.paragraph-one {
  font-size: 28px;
  align-items: center;
  color: #ffffff;
  text-align: center;
  margin-bottom: 60px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.button1 {
  background-color: #2091f9;
  border-color: #2091f9;
  color: #ffffff;
  padding: 0px 16px;
  border-radius: 35px;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button1:hover {
  background-color: #fff;
  color: #3498db;
}

@media only screen and (max-width: 600px) {
  .hero-header {
    padding: 30px 20px;
  }

  .title-one {
    font-size: 48px;
    line-height: 55px;
  }
  .paragraph-one {
    font-size: 28px;
    white-space: normal;
    text-overflow: clip;
    overflow: visible;
  }
}

/* features section */
.features-outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.h1 {
  font-size: 48px;
  font-weight: normal;
  color: #252b42;
  margin-bottom: 17px;
}

.h2 {
  font-size: 28px;
  font-weight: normal;
  width: 40%;
  margin: 0 auto;
  color: #374754;
  margin-bottom: 80px;
}

.central-section {
  display: flex;
  flex-direction: row;
  width: 60%;
  margin: 0 auto;
  font-size: 18px;
  color: #374754;
  gap: 52px;
  align-items: center;
  line-height: 25px;
}

.features-images {
  width: 45.75px;
  height: 45.75px;
  margin-bottom: 10px;
  justify-content: center;
}
.h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #252b42;
}

.features-bottom-images > img {
  max-width: 100%;
  max-height: auto;
  justify-content: center;
  align-items: center;
}
.central-section-first-part
  .central-section-second-part
  .central-section-third-part {
  display: flex;
  flex-direction: column;
}

.unite-class {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .features-bottom-images > img {
    content: url("assets/images/features/video-screen-mobile-version.png");
    padding: 6.68px 0px 6.68px 0px;
  }

  .unite-class {
    flex-direction: column-reverse;
  }

  .central-section {
    flex-direction: column;
    padding: 18px 0px 18px 0px;
    width: 50%;
  }
}

/* key-benefit-section */

.key-unite-class {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 43px 0px 43px 0px;
  align-items: center;
}

.key-benefit-img-section {
  max-width: 55%;
}

.key-benefit-img-section > img {
  max-width: 100%;
  max-height: auto;
}
.h2-key {
  font-size: 28px;
  line-height: 40px;
  color: #374754;
  font-weight: normal;
}
.key-benefit-paragraf-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 45%;
  padding-top: 57px;
  padding-bottom: 57px;
}
.button2 {
  background-color: #2091f9;
  border-color: #2091f9;
  color: #ffffff;
  padding: 12px 16px;
  border-radius: 35px;
  border: 1px;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

@media only screen and (max-width: 600px) {
  .key-unite-class {
    flex-direction: column;
    gap: 10px;
  }

  .h2-key {
    font-size: 20px;
  }
}
