* {
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.hero-section {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url("./assets/images/hero-background.png");
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100vh;
}

.hero-paragraph {
  padding: 80px, 0px, 80px, 0px;
}
.title-one {
  font-size: 74px;
  color: #ffffff;
  line-height: 84px;
  justify-content: center;
  margin-top: 110px;
  margin-bottom: 7px;
}

.paragraph-one {
  font-size: 28px;
  align-items: center;
  color: #ffffff;
  text-align: center;
  margin-bottom: 60px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.button1 {
  background-color: #2091f9;
  border-color: #2091f9;
  color: #ffffff;
  padding: 0px 16px;
  border-radius: 35px;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button1:hover {
  background-color: #fff;
  color: #3498db;
}
@media only screen and (max-width: 600px) {
  .hero-header {
    padding: 30px 20px;
  }

  .title-one {
    font-size: 48px;
    line-height: 55px;
  }
  .paragraph-one {
    font-size: 28px;
    white-space: normal;
    text-overflow: clip;
    overflow: visible;
  }
}
